<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zOpen Usage Analytics</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
"></script>
</head>
<body>
    <div class="container mt-5">
<a href="/download/package.db" download>Download package.db</a>

    <h1>zopen community Usage Analytics</h1>

    <h2 class="mt-4">Total Installs Over Time</h2>
    <canvas id="totalDownloadsChart" width="400" height="200"></canvas>

    <!-- Top Tools by Installs -->
<h2 class="mt-4">Top Tools by Installs</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Package Name</th>
      <th scope="col">Total Installs</th>
      <th scope="col"><u>Consumer Installs</u></th>
      <th scope="col">Installs from Builds</th>
      <th scope="col">Installs from Bots</th>
    </tr>
  </thead>
  <tbody>
    <% data.rankedInstalls.forEach(tool => { %>
      <tr>
        <td><a href="/statistics/<%= tool.packagename %>"><%= tool.packagename %></a></td>
        <td><%= tool.totalWithBotAndBuild %></td>
        <td><%= tool.installs %></td>
        <td><%= tool.buildDownloads%></td>
        <td><%= tool.botDownloads %></td>
      </tr>
    <% }); %>
  </tbody>
</table>


      <!-- Profiles -->
    <h2 class="mt-4">Profiles</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">UUID</th>
          <th scope="col">Is Bot</th>
          <th scope="col">Is IBM</th>
        </tr>
      </thead>
      <tbody>

    <% data.profiles.forEach(profile => { %>
      <tr>
        <td><a href="/profile/<%= profile.uuid %>"><%= profile.uuid %></a></td>
        <td><%= profile.isbot %></td>
        <td><%= profile.isibm %></td>
      </tr>
    <% }); %>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
  const dates = [
    <% Object.keys(totalDownloadsPerMonth)
         .map(timestamp => new Date(`${timestamp}-01`))
         .sort((a, b) => a - b)
         .forEach(date => { %>
      '<%= `${date.getFullYear()}/${String(date.getMonth() + 1).padStart(2, '0')}` %>',
    <% }); %>
  ];

  const ctx = document.getElementById('totalDownloadsChart').getContext('2d');

console.log('Dates:', dates);
const chartConfig2 = {
  type: 'bar',
  data: {
    labels: dates,
    datasets: [{
      label: 'Downloads Per Month',
      data: <%= JSON.stringify(Object.entries(totalDownloadsPerMonth).map(([yearMonth, count]) => count)) %>,
      backgroundColor: 'rgba(0, 192, 192, 0.2)',
      borderColor: 'rgba(0, 192, 192, 1)',
      borderWidth: 1,
    }],
  },
  options: {
    scales: {
      x: { type: 'category' },
      y: { beginAtZero: true },
    },
  },
};

  const downloadsPerMonthChart = new Chart(ctx, chartConfig2);
</script>

</body>
</html>

