<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Port Statistics</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
	  <div class="container">
		  <a href="/">HOME</a>
    <h1 class="mt-5 mb-4"><%= port %> statistics</h1>

    <h2 class="mt-4">Downloads Per Month Table</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Year/Month</th>
          <th scope="col">Downloads Count</th>
        </tr>
      </thead>
        <tbody>
    <%
      // Sort the entries by year/month
      Object.entries(downloadsPerMonth)
            .sort(([a], [b]) => new Date(a) - new Date(b))
            .forEach(([yearMonth, count]) => {
    %>
        <tr>
          <td><%= yearMonth %></td>
          <td><%= count %></td>
        </tr>
    <% }); %>
  </tbody>
    </table>

    <h2 class="mt-4">Downloads Per Month Chart</h2>
    <canvas id="downloadsPerMonthChart" width="400" height="200"></canvas>
  </div>


  <script>
  // Chart configuration for monthly downloads
  const ctx2 = document.getElementById('downloadsPerMonthChart').getContext('2d');
  const dates = [
    <% Object.keys(downloadsPerMonth)
         .map(timestamp => new Date(`${timestamp}-01`))
         .sort((a, b) => a - b)
         .forEach(date => { %>
      '<%= `${date.getFullYear()}/${String(date.getMonth() + 1).padStart(2, '0')}` %>',
    <% }); %>
  ];


// Convert Unix timestamps to JavaScript Date objects for Chart.js
console.log('Dates:', dates);
const chartConfig2 = {
  type: 'bar',
  data: {
    labels: dates,
    datasets: [{
      label: 'Downloads Per Month',
      data: <%= JSON.stringify(Object.entries(downloadsPerMonth).map(([yearMonth, count]) => count)) %>,
      backgroundColor: 'rgba(0, 192, 192, 0.2)',
      borderColor: 'rgba(0, 192, 192, 1)',
      borderWidth: 1,
    }],
  },
  options: {
    scales: {
      x: { type: 'category' },
      y: { beginAtZero: true },
    },
  },
};


  const downloadsPerMonthChart = new Chart(ctx2, chartConfig2);
</script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>

